/* Estilos generales */
body {
   font-family: Arial, sans-serif;
   background-color: #333232;
   margin: 0;
   padding: 0;
}

.header {
  display: flex;
  align-items: center;
  background-color: #ccc; /* Color de fondo gris para el área del encabezado */
  padding: 10px; /* Ajusta el espacio interno */
}
 
 .logo {
   /* Ajustar el tamaño del logo según lo necesites */
   width: 150px;
   height: 150px;
   margin-right: 400px; /* Espacio entre el logo y el contenido */
 }
 
 .logo img {
   width: 100%; /* Para asegurarse de que el logo no se salga del contenedor */
 }
 
 .header-content {
   flex: 100; /* El contenido ocupa todo el espacio restante */
 }
 
 /* Ajustes para el contenido (título y menú) */
 .header-content h1 {
   margin: 100; /* Elimina el margen predeterminado */
 }
 
 nav {
   margin-right: auto; /* Mueve el menú a la izquierda */
   background-color: #ccc; /* Color de fondo gris para el menú */
   font-size: 18px; /* Tamaño de fuente más grande */
   padding: 10px; /* Ajusta el espacio interno */
 }

nav ul {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  margin-right: 40px;
}

nav a {
  text-decoration: none;
  color: #333; /* Cambia el color de los enlaces */
}

/* Estilos para el control deslizante */
/* (Los estilos del control deslizante están presentes en tu CSS) */

/* Estilos para la sección de introducción */
#intro {
   max-width: 800px;
   margin: 0 auto;
   padding: 20px;
   background-color: #fff;
   box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


/*Headers*/

.precio-col-header {
 background-color:#333;
 padding:20px;
 border-top-left-radius:10px;
 border-top-right-radius:10px
}

.precio-col:nth-child(2) .precio-col-header {
 background-color:#dd9933
}

.precio-col-header h3 {
 color:#f3f3f3;
 text-align:center;
 font-size:30px;
 font-weight:600;
 margin-bottom:0
}

.precio-col-header p {
 text-align:center;
 color:#f3f3f3;
 font-size:14px;
 margin-bottom:0
}
#slider {
    margin: 0 auto;
    width: 800px;
    max-width: 100%;
    text-align: center;
 }
 #slider input[type=radio] {
    display: none;
 }
 #slider label {
    cursor:pointer;
    text-decoration: none;
 }
 #slides {
    padding: 10px;
    border: 3px solid #ccc;
    background: #fff;
    position: relative;
    z-index: 1;
 }
 #overflow {
    width: 100%;
    overflow: hidden;
 }
 #slide1:checked ~ #slides .inner {
    margin-left: 0;
 }
 #slide2:checked ~ #slides .inner {
    margin-left: -100%;
 }
 #slide3:checked ~ #slides .inner {
    margin-left: -200%;
 }
 #slide4:checked ~ #slides .inner {
    margin-left: -300%;
 }
 #slides .inner {
    transition: margin-left 800ms cubic-bezier(0.770, 0.000, 0.175, 1.000);
    width: 400%;
    line-height: 0;
    height: 300px;
 }
 #slides .slide {
    width: 25%;
    float:left;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    color: #fff;
 }
 #slides .slide_1 {
    background: #00171F;
 }
 #slides .slide_2 {
    background: #7f868b;
 }
 #slides .slide_3 {
    background: #007EA7;
 }
 #slides .slide_4 {
    background: #00A8E8;
 }
 #controls {
    margin: -180px 0 0 0;
    width: 100%;
    height: 50px;
    z-index: 3;
    position: relative;
 }
 #controls label {
    transition: opacity 0.2s ease-out;
    display: none;
    width: 50px;
    height: 50px;
    opacity: .4;
 }
 #controls label:hover {
    opacity: 1;
 }
 #slide1:checked ~ #controls label:nth-child(2),
 #slide2:checked ~ #controls label:nth-child(3),
 #slide3:checked ~ #controls label:nth-child(4),
 #slide4:checked ~ #controls label:nth-child(1) {
    background: url(https://image.flaticon.com/icons/svg/130/130884.svg) no-repeat;
    float:right;
    margin: 0 -50px 0 0;
    display: block;
 }
 #slide1:checked ~ #controls label:nth-last-child(2),
 #slide2:checked ~ #controls label:nth-last-child(3),
 #slide3:checked ~ #controls label:nth-last-child(4),
 #slide4:checked ~ #controls label:nth-last-child(1) {
    background: url(https://image.flaticon.com/icons/svg/130/130882.svg) no-repeat;
    float:left;
    margin: 0 0 0 -50px;
    display: block;
 }
 #bullets {
    margin: 150px 0 0;
    text-align: center;
 }
 #bullets label {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius:100%;
    background: #ccc;
    margin: 0 10px;
 }
 #slide1:checked ~ #bullets label:nth-child(1),
 #slide2:checked ~ #bullets label:nth-child(2),
 #slide3:checked ~ #bullets label:nth-child(3),
 #slide4:checked ~ #bullets label:nth-child(4) {
    background: #444;
 }
 @media screen and (max-width: 900px) {
    #slide1:checked ~ #controls label:nth-child(2),
    #slide2:checked ~ #controls label:nth-child(3),
    #slide3:checked ~ #controls label:nth-child(4),
    #slide4:checked ~ #controls label:nth-child(1),
    #slide1:checked ~ #controls label:nth-last-child(2),
    #slide2:checked ~ #controls label:nth-last-child(3),
    #slide3:checked ~ #controls label:nth-last-child(4),
    #slide4:checked ~ #controls label:nth-last-child(1) {
       margin: 0;
    }
    #slides {
       max-width: calc(100% - 140px);
       margin: 0 auto;
    }
 }
 .carousel-caption {
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   background: rgba(55, 55, 63, 0.7);
   z-index: 1;
 }
 
 @media (min-width: 992px) {
   .feature-text {
     margin-left: -100px;
   }
 }
 
 .bg-page-header {
   background: linear-gradient(rgba(55, 55, 63, 0.7), rgba(55, 55, 63, 0.7)), url(../img/carousel-2.jpg), no-repeat center center;
   background-size: cover;
 }
 
 .bg-appointment {
   background: linear-gradient(rgba(55, 55, 63, 0.7), rgba(55, 55, 63, 0.7)), url(../img/carousel-1.jpg), no-repeat center center;
   background-size: cover;
 }
 
 .bg-action {
   background: linear-gradient(rgba(55, 55, 63, 0.7), rgba(55, 55, 63, 0.7)), url(../img/carousel-2.jpg), no-repeat center center;
   background-size: cover;
 }
 
 .owl-carousel .owl-nav {
   position: absolute;
   width: 100px;
   height: 40px;
   top: -70px;
   left: calc(50% - 50px);
   display: flex;
   align-items: center;
   justify-content: space-between;
 }
 
 .owl-carousel .owl-nav .owl-prev,
 .owl-carousel .owl-nav .owl-next {
   width: 40px;
   height: 40px;
   display: flex;
   align-items: center;
   justify-content: center;
   color: #B49C73;
   background: #37373F;
   border-radius: 5px;
   font-size: 22px;
 }
 .owl-carousel .owl-nav .owl-prev,
.owl-carousel .owl-nav .owl-next {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #B49C73;
  background: #37373F;
  border-radius: 5px;
  font-size: 22px;
}

 .team-img .team-social {
   position: absolute;
   width: 100%;
   height: 100%;
   top: 0;
   left: 0;
   display: flex;
   align-items: center;
   justify-content: center;
   background: rgba(55, 55, 63, 0.7);
   transition: .5s;
   z-index: 1;
   opacity: 0;
 }
 
 .team-item:hover .team-social {
   opacity: 1;
 }
 
 .testimonial-text::after {
   position: absolute;
   content: "";
   width: 0;
   height: 0;
   bottom: -24px;
   left: 28px;
   border: 12px solid;
   border-color: #37373F transparent transparent transparent;
   z-index: 1;
 }
 
 .testimonial-carousel .owl-dots {
   position: absolute;
   width: 100%;
   top: -50px;
   text-align: center;
 }
 
 .testimonial-carousel .owl-dot {
   position: relative;
   display: inline-block;
   margin: 0 8px;
   width: 15px;
   height: 15px;
   border-radius: 15px;
   background: #B49C73;
 }
 
 .testimonial-carousel .owl-dot::after {
   position: absolute;
   content: "";
   top: -5px;
   right: -5px;
   bottom: -5px;
   left: -5px;
   border: 2px solid #B49C73;
   border-radius: 20px;
 }
 
 .btn-primary {
   color: #212529;
   background-color: #B49C73;
   border-color: #B49C73;
 }
 
 .btn-primary:hover {
   color: #fff;
   background-color: #a78a5a;
   border-color: #9f8455;
 }
 
 .btn-primary:focus, .btn-primary.focus {
   color: #fff;
   background-color: #a78a5a;
   border-color: #9f8455;
   box-shadow: 0 0 0 0.2rem rgba(158, 138, 104, 0.5);
 }
 
 .btn-primary.disabled, .btn-primary:disabled {
   color: #212529;
   background-color: #B49C73;
   border-color: #B49C73;
 }
 
 .btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active,
 .show > .btn-primary.dropdown-toggle {
   color: #fff;
   background-color: #9f8455;
   border-color: #977d51;
 }
 
 .btn-primary:not(:disabled):not(.disabled):active:focus, .btn-primary:not(:disabled):not(.disabled).active:focus,
 .show > .btn-primary.dropdown-toggle:focus {
   box-shadow: 0 0 0 0.2rem rgba(158, 138, 104, 0.5);

 }
/* Estilos generales */
body {
   font-family: Arial, sans-serif;
   margin: 0;
   padding: 0;
   background-color: #725151;
}

.container {
   width: 80%;
   margin: 0 auto;
   padding: 20px;
}

.row {
   display: flex;
}

.col-lg-6 {
   width: 50%;
   padding: 20px;
   box-sizing: border-box;
}

.image-column {
   min-height: 500px;
}

.image-container {
   position: relative;
   overflow: hidden;
   border-radius: 8px;
}

.image-container img {
   width: 100%;
   height: 100%;
   object-fit: cover;
}

.feature-text {
   background-color: #fff;
   padding: 20px;
   border-radius: 8px;
}

.feature-text h6 {
   text-transform: uppercase;
}

.feature-text h1 {
   margin-bottom: 20px;
}

.feature-item {
   display: flex;
   margin-bottom: 20px;
}

.feature-number {
   border: 2px solid #000;
   border-radius: 50%;
   width: 40px;
   height: 40px;
   line-height: 40px;
   text-align: center;
   margin-right: 20px;
}

.feature-item h3 {
   margin: 0;
}

.contacto{
   background-image: url(img/contact_bg.png);
   background-color: #1e2326;
   color: #fff;
   padding: 50px 0;
}
.contacto .contenido-seccion{
   max-width: 1100px;
   margin: auto;
}
.contacto h2{
   font-size: 48px;
   font-family: 'Righteous';
   text-align: center;
   padding: 20px 0;
}
.contacto .fila{
   display: flex;
}
.contacto .col{
   width: 50%;
   padding: 10px;
   position: relative;
}
.contacto .col input, .contacto .col textarea{
   display: block;
   width: 100%;
   padding: 18px;
   border: none;
   margin-bottom: 20px;
   background-color: #252A2E;
   color: #fff;
   font-size: 18px;
}
.contacto button{
   cursor: pointer;
   background-color: transparent;
   border: 2px solid #fff;
   width: fit-content;
   display: block;
   margin: 20px auto;
   padding: 10px 22px;
   font-size: 16px;
   color: #fff;
   position: relative;
   z-index: 10;
}
.contacto button .overlay{
   position: absolute;
   top: 0;
   left: 0;
   width: 0;
   height: 100%;
   background-color: #1CB698;
   z-index: -1;
   transition: 1s;
}
.contacto button:hover .overlay{
   width: 100%;
}
.contacto .col img{
   width: 100%;
}
.contacto .col .info{
   position: absolute;
   top: 40%;
   background-color: #252A2E;
   padding: 20px;
   max-swidth: 350px;
   left: 50%;
   transform: translate(-50%, -50%);
}
.contacto .col .info ul{
   list-style: none;
}
.contacto .col .info ul li{
   margin-bottom: 20px;
}
.contacto .col .info ul li i{
   color: #1CB698;
   display: inline-block;
   margin-right: 20px;
}
footer{
   background-color: #252A2E;
   color: #fff;
   padding: 50px 0 30px 0;
   text-align: center;
   position: relative;
   width: 100%;
}
footer .redes{
   margin-bottom: 20px;
}
footer .redes a{
   color: #fff;
   display: inline-block;
   text-decoration: none;
   border: 1px solid #fff;
   border-radius: 100%;
   width: 42px;
   height: 42px;
   line-height: 42px;
   margin: 40px 5px;
   font-size: 20px;
   transition: .3s;
}
footer .arriba{
   display: block;
   width: 50px;
   height: 50px;
   background-color: #1CB698;
   color: #fff;
   position: absolute;
   left: 50%;
   transform: translateX(-50%);
   top: -25px;
   border-radius: 50%;
   line-height: 50px;
   font-size: 18px;
}
/* Para dispositivos más pequeños, como tablets y teléfonos */
@media (max-width: 767px) {
   .row {
       display: flex;
       flex-direction: column;
   }

   .col-lg-6 {
       width: 100%;
       padding: 20px 0;
   }

   .image-container {
       min-height: 300px; /* o algún otro valor que se vea mejor en pantallas más pequeñas */
   }

   .feature-text {
       padding: 10px;
   }

   .feature-item {
       margin-bottom: 15px;
   }
}
